{% macro centered_modal(btn_) %}
    <div class="col mb-3">
        <div class="card">
            <div class="card-body text-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#newCategoryModal">
                    Add new category
                </button>
                <div class="modal fade" id="newCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Create category</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {{ caller() }}
                            </div>
                            <div class="modal-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}