{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid mt-3">
        <div class="container-fluid">
        <button type="submit" class="btn btn-primary">Guardar</button>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Concepto</th>
                    <th scope="col">Importe</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.date }}</td>
                        <td>{{ transaction.concept }}</td>
                        <td>{{ transaction.amount }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}