{% extends 'shared/centered_card_content_template.html' %}
{% from "shared/show_flash_messages.html" import show_flash_messages %}

{% block centered_content %}
    {{ show_flash_messages(get_flashed_messages(with_categories=True)) }}
    <form class="form" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="mb-3 mt-3">
            {{ form.type.label(class="form-label") }}
            {{ form.type(class="form-select") }}
        </div>
        <div class="mb-3">
            {{ form.file.label(class="form-label") }}
            {{ form.file(class="form-control") }}
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">{{ _('Send') }}</button>
        </div>
    </form>

    {% if error != None %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>ERROR</strong> {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
{% endblock %}