{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid mt-3">
        <form id="month-year-filtering-form" method="POST">
            {{ month_year_filter_form.csrf_token }}
            <div class="row mb-3">
                <div class="col-auto">
                    <button type="submit" name="direction" value="previous" class="btn btn-outline-dark"><</button>
                </div>
                <div class="col-auto">
                    {{ month_year_filter_form.month(class="form-select", id="month-selector") }}
                </div>
                <div class="col-auto">
                    {{ month_year_filter_form.year(class="form-select", id="year-selector") }}
                </div>
                <div class="col-auto">
                    <button type="submit" name="direction" value="next" class="btn btn-outline-dark">></button>
                </div>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">{{ _('Date') }}</th>
                <th scope="col">{{ _('Concept') }}</th>
                <th scope="col">{{ _('Amount') }}</th>
                <th scope="col">{{ _('Category') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.transaction_date.strftime('%d-%m-%Y') }}</td>
                    <td>{{ transaction.concept }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.category.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        document.getElementById("month-selector").addEventListener("change", function() {
            document.getElementById("month-year-filtering-form").submit();
        });
    </script>

{% endblock %}