{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid mt-3">
        <form id="month-year-filtering-form" method="POST">
            {{ month_year_filter_form.csrf_token }}
            <div class="row mb-3">
                <div class="col-auto">
                    <button type="submit" name="direction" value="previous" class="btn btn-outline-dark"><</button>
                </div>
                <div class="col-auto">
                    {{ month_year_filter_form.month(class="form-select", id="month-selector") }}
                </div>
                <div class="col-auto">
                    {{ month_year_filter_form.year(type="number", class="form-control", id="year-selector") }}
                </div>
                <div class="col-auto">
                    <button type="submit" name="direction" value="next" class="btn btn-outline-dark">></button>
                </div>
            </div>
            {{ month_year_filter_form.submit_by_enter() }}
            {{ month_year_filter_form.direction() }}
        </form>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">{{ _('Actions') }}</th>
                <th scope="col">{{ _('Date') }}</th>
                <th scope="col">{{ _('Concept') }}</th>
                <th scope="col">{{ _('Amount') }}</th>
                <th scope="col">{{ _('Category') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary" onclick="editTransaction('{{ transaction.id }}')">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button type="button" class="btn btn-danger" onclick="confirmDelete('{{ transaction.id }}')">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                    <td>{{ transaction.transaction_date.strftime('%d-%m-%Y') }}</td>
                    <td>{{ transaction.concept }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.category.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        document.getElementById("month-selector").addEventListener("change", function () {
            document.getElementById("month-year-filtering-form").submit();
        });

        document.getElementById("year-selector").addEventListener("change", function () {
            document.getElementById("month-year-filtering-form").submit();
        });

        document.getElementById("year-selector").addEventListener("keydown", function (event) {
            if (event.key === 'Enter') {
                console.log('HAS PULSADO ENTER')
                document.getElementById("submit_by_enter").value = "true"
            }
        });

        function editTransaction(transactionId) {
            window.location.href = "/edit-transaction/" + transactionId;
        }

        function confirmDelete(transactionId) {
            var confirmationMessage = "{{ _('Are you sure you want to delete this transaction?') }}";
            if (confirm(confirmationMessage)) {
                window.location.href = "/delete-transaction/" + transactionId;
                window.location.reload();
            }
        }
    </script>

{% endblock %}